.page{
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-family: Helvetica;
	position: relative;
	z-index:999;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #d1b0d8;
	padding: 10%;
	color: #fff;
	font-family: $text-font;
	font-size: 1rem;
	@media screen and (max-width: $tablet-and-below){
		flex-direction: column;

	}
}

.page-bg{
	
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 100vh;
	z-index: -1;
}
.bag-icon, .vertical-text, .add-button{
	position: absolute;
}

.bag-icon{
	top: 5%;
	right: 5%;
}

nav{
	display:  flex;
	position: absolute;
	top: 5%;
	left: 50%;
	flex-direction: row;
	z-index: 999;
}
.circle{
	width: 10px;
	height: 10px;
}

.vertical-text{
	transform: rotate(270deg);
	top: 50%;
	left: 5%;
	@media screen and (max-width: $tablet-and-below){
		top: 70%;
		left: 40%;
	}
}
.add-button{
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border: 2px solid #fff;
	bottom: 5%;
	background-color: $background-purple;
	color: #fff;
	box-shadow: 1px 0px 24px 12px rgba(0, 0, 0, 0.2);
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}
.column-1, .column-2, .column-3{
	width: 33.3%;
	@media screen and (max-width: $tablet-and-below){
		width: 100%;

	}
}

.column-1{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	font-size: 20px;
	@media screen and (max-width: $tablet-and-below){
		
	}
	h1{
		color: $text-purple;
		font-size: 3rem;
		font-family: $header-font;
		margin-bottom: 20px;
	}

	.chakras{
		display: flex;
		flex-direction: row;
		width: 100%;
		justify-content: center;
	}
	.chakra-area{
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 30px;


		h3{
			
		}
		img{
			width: 30px;
			height: 30px;
			margin: 5px;
		}
		h4{
			color: $text-purple;
		}

	}
	p{
		margin-left: 40px;
		@media screen and (max-width: $tablet-and-below){
			margin-left: unset;
			text-align: center;
		}
	}
}
.column-2{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	.number{
		display: none;
		position: relative;
		top: 50%;
		left: 50%;
		transition: .3s;
	}
	.crystal{
		display: none;
		position: relative;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		transition: .3s;

	}
	.dots{
		display: flex;
		flex-direction: row;
		div {
			width: 15px;
			height: 15px;
			border-radius: 50%;
			background-color: #fff;
			margin-right: 10px;
			transition: .3s;

			&.active{
				border: 2px solid $text-purple;
			}

		}
	}
}
.column-3{
	display: flex;
	flex-direction: row;
	
}

.bullets{
	display: flex;
	flex-direction: column;
	.bullet{
		width: 20px;
		height: 20px;
		background-color: #fff;
		border-radius: 50%;
		margin: 10px 0;
		@media screen and (max-width: $tablet-and-below){
			width: 16px;
			height: 16px;
		}

	}

}
.facts{

	border-left: 2px solid #fff;
	padding: 0 30px ;
	margin: -11px;
	.fact{
		font-size: 20px;
		margin-top: 20px;
		white-space: nowrap;
		list-style: none;
		@media screen and (max-width: $tablet-and-below){
			font-size: 16px;
			margin-top: 16px;
			white-space: normal;
		}
	}
	@media screen and (max-width: $tablet-and-below){
		border: none;
		margin: 0;
		padding: 0 0;
	}
}

/////arrows for crystals on mobile////

#next, #prev{ 
	position: fixed;
	z-index: 9999999;
	top: 50%;
	width: 60px;
	height: 60px;
	transition: .3s;
	// @media (max-width: $breakpoint-tablet) {
	// 	width: 40px;
	// 	height: 40px;
	// }
	// @media (max-width: $breakpoint-mobile) {
	// 	width: 20px;
	// 	height: 20px;
	// }
	span{
		display: block;
		position: absolute;
		height: 3px;
		width: 30px;
		margin-bottom: 3px;
		border-radius: 8px;
		top: 50%;
		transition: .5s;
		background-color: rgba(0,0,0,0);
		box-shadow: 0 2px 5px rgba(0,0,0,0);
		// @media (max-width: $breakpoint-tablet) {
		// 	width: 20px;
		// }
		// @media (max-width: $breakpoint-mobile) {
		// 	width: 10px;
		// }
	}
	span:before, span:after{
		content: '';
		display: block;
		position: absolute;
		height: 3px;
		width: 30px;
		margin-bottom: 3px;
		background-color: #fff;
		border-radius: 8px;
		box-shadow: 0 2px 5px rgba(0,0,0,0.4);
		top: 50%;
		transition: .5s;
		// @media (max-width: $breakpoint-tablet) {
		// 	width: 20px;
		// }
		// @media (max-width: $breakpoint-mobile) {
		// 	width: 10px;
		// }
	}
	span:before{
		top: -3px;
		// @media (max-width: $breakpoint-tablet) {
		// 	top: 3px;
		// }
		// @media (max-width: $breakpoint-mobile) {
		// 	top: 11px;
		// }
	}
	span:after{
		top: 16px;
	}
}


#next{
	right: 5%;
	span{
		right: 5%;
	}
	span:before, span:after{
		right: 0;
	}
	span:before{
		transform: rotate(45deg);
	}
	span:after{
		transform: rotate(135deg);
	}
}
#prev{ 
	left: 5%;
	span{
		left: 5%;
	}
	span:before, span:after{
		left: 0;
	}
	span:before{
		transform: rotate(-45deg);
	}
	span:after{
		transform: rotate(-135deg);
	}
}













