.page{
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-family: Helvetica;
	position: relative;
	z-index:999;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #d1b0d8;
	padding: 10%;
	font-weight: 300;
	color: #fff;
	font-family: $text-font;
	font-size: 1rem;
	letter-spacing: 1px;
	@media screen and (max-width: $tablet-and-below){
		flex-direction: column;

	}
}

.page-bg{
	
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 100vh;
	z-index: -1;
}
.bag-icon, .vertical-text, .add-button{
	position: absolute;
}

.bag-icon{
	top: 5%;
	right: 5%;
	@media screen and (max-width: 1023px){
		top: 20px;
		right: 20px;
	}

}

.vertical-text{
	transform: rotate(270deg);
	top: 50%;
	left: 1%;
	@media screen and (max-width: $tablet-and-below){
		position: unset;
		margin: 60px 0 40px 0;
		font-size: 1.5rem;
	}
}
.add-button{
	cursor: pointer;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border: 2px solid #fff;
	bottom: 5%;
	background-color: $background-purple;
	color: #fff;
	box-shadow: 10px 10px 64px 36px rgba(114,0,48,0.11);
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	letter-spacing: 3px;
	@media screen and (max-width: $tablet-and-below){
		position: unset;
		margin-top: 50px;
		width: 100px;
		height: 100px;
		font-size: 1.5rem;
	}
}
.column-1, .column-2, .column-3{
	width: 33.3%;
	@media screen and (max-width: $tablet-and-below){
		width: 100%;

	}
}

.column-1{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	font-size: 20px;
	flex-wrap: nowrap;
	
	h1{
		color: $text-purple;
		font-size: 3.5rem;
		font-family: $header-font;
		margin-bottom: 20px;
		@media screen and (max-width: 767px){
			margin-top: 30px;
		}
		
		margin-top: 70px;
		
		@media screen and (min-width: 1024px){
			margin-left: 35px;
			
		}
		@media screen and (min-width: 1123px){
			margin-left: 0px;
			
		}
	}
	h2{
		font-weight: 100;
		font-size: 1.5rem;
		white-space: nowrap;
	}

	.chakras{
		display: flex;
		flex-direction: row;
		width: 100%;
		justify-content: center;
		@media screen and (max-width: 1023px){
			margin-bottom: 70px;
		}
	}
	.chakra-area{
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 30px;
		text-align: center;

		h3{
			font-weight: 500;

			@media screen and (max-width: $tablet-and-below){
				font-size: 1.5rem;
			}
		}
		img{
			width: 30px;
			height: 30px;
			margin: 5px;
			transition: .3s;
			@media screen and (max-width: $tablet-and-below){
				width: 70px;
				height: 70px;
			}

		}
		h4{
			color: $text-purple;
			font-weight: 500;
			@media screen and (max-width: $tablet-and-below){
				font-size: 1.8rem;
			}

		}

	}
	p{
		margin-left: 40px;
		line-height: 1.3em;
    	font-size: 0.9em;
		@media screen and (max-width: $tablet-and-below){
			margin-left: unset;
			text-align: center;
		}
	}
}
.column-2{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;

	.numbers{
		position: relative;
		left: -27%;
		top: 70px;
		transition: .3s;
		pointer-events: none;
		@media screen and (max-width: $tablet-and-below){
			width: 65%;
    		left: 0%;
			img{
				width: 50%;
			}
		}
		.crystals{
			position: relative;
			left: 90%;
			transform: translate(-50%, -50%);
			transition: .3s;
			@media screen and (max-width: $tablet-and-below){
				width: 83%;

				img{
					width: 100%;
				}
			}
			@media screen and (min-width: 1024px){
				img{
					max-width: 200px;
				}
			}
		}
	}
	
	.dots{
		display: flex;
		flex-direction: row;
		justify-content: center;
		z-index: 10;
		position: relative;
		div {
			width: 15px;
			height: 15px;
			border-radius: 50%;
			background-color: #fff;
			margin-right: 20px;
			&:last-child{
				margin-right: 0px;
			}
			&.active{
				border: 3px solid $text-purple;
				transition: .5s;

				
			}

		}
		@media screen and (max-width: $tablet-and-below){
			margin-top: 50px;
		}
	}
	.price{
		font-size: 2rem;
		margin-top: 50px;
		font-weight: 500;
	}
	@media screen and (max-width: $tablet-and-below){
		flex-direction: row;
		justify-content: space-between;
		.main{
			flex-direction: column;
			align-items: center;
			text-align: center;
		}
	}
}
.column-3{
	display: flex;
	flex-direction: row;
	@media screen and (max-width: $tablet-and-below){
		display: flex;
		justify-content: center;
		flex-direction: row;
		text-align: center;
		p{
			margin-top: 50px;
			font-size: 1.2rem;
			line-height: 1.3em;
		}
	}
}

// .bullets{
// 	display: flex;
// 	flex-direction: column;
// }
// .bullet{
// 	width: 10px;
// 	height: 10px;
// 	background-color: #fff;
// 	border-radius: 50%;
// 	margin: 14.5px 0;
// 	@media screen and (max-width: $tablet-and-below){
// 		width: 4%;
// 		height: 0;
// 		padding-bottom: 4%;
// 		margin-right: 22px;
// 	}

// }
.facts{
	// border-left: 2px solid #fff;
	padding: 0 20px;
	margin: -6px;
	
	.fact{
		font-size: 18px;
		margin-top: 25px;
		white-space: nowrap;
		@media screen and (max-width: $tablet-and-below){
			font-size: 16px;
		}
	}
	@media screen and (max-width: $tablet-and-below){
		border: none;
		margin-bottom: 30px ;
		padding: 0 0;
	}
}

/////arrows for crystals on mobile////

.next{
	border: solid;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 20px;
	transform: rotate(-45deg);	
}
.prev{
	border: solid;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 20px;
	transform: rotate(135deg);	
}

h6{
	font-weight: 500;
	font-size: 2rem;
	@media screen and (max-width: $tablet-and-below){
		margin-top: 60px;
	}
}











