.page{
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-family: Helvetica;
	background-color: $background-purple;
	padding: 10%;
	color: #fff;
	font-family: $text-font;
	@media screen and (max-width: $tablet-and-below){
		flex-direction: column;

	}
}

.bag-icon, .vertical-text, .add-button{
	position: absolute;
}

.bag-icon{
	top: 5%;
	right: 5%;
}

.vertical-text{
	transform: rotate(270deg);
	top: 50%;
	left: 5%;
	@media screen and (max-width: $tablet-and-below){
		top: 70%;
		left: 40%;
	}
}
.add-button{
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border: 2px solid #fff;
	bottom: 5%;
	background-color: $background-purple;
	color: #fff;
	box-shadow: 1px 0px 24px 12px rgba(0, 0, 0, 0.2);
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}
.column-1, .column-2, .column-3{
	width: 33.3%;
	@media screen and (max-width: $tablet-and-below){
		width: 100%;

	}
}

.column-1{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	font-size: 18px;
	h1{
		color: $text-purple;
		font-size: 3rem;
		font-family: $header-font;
		margin-bottom: 20px;
	}
	h2{
		margin-bottom: 30px;

	}
	div{
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 30px;


		h3{
			
		}
		img{
			width: 30px;
			height: 30px;
		}
		h4{
			color: $text-purple;
		}

	}
	p{
		font-size: 1rem;
		margin-left: 40px;
		@media screen and (max-width: $tablet-and-below){
			margin-left: unset;
			text-align: center;
		}
	}
}
.column-2{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	.number{
		display: none;
		position: relative;
		top: 50%;
		left: 50%;
		&.active{
			display: block;
		}
	}
	.crystal{
		display: none;
		position: relative;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		&.active{
			display: block;
		}
	}
	.dots{
		display: flex;
		flex-direction: row;
		.dot{
			width: 15px;
			height: 15px;
			border-radius: 50%;
			background-color: #fff;
			margin-right: 10px;
			&.active{
				border: 2px solid $text-purple;
			}

		}
	}
}
.column-3{
	display: flex;
	flex-direction: row;
	.bullets{
		display: flex;
		flex-direction: column;
		.bullet{
			width: 20px;
			height: 20px;
			background-color: #fff;
			border-radius: 50%;
			margin: 10px 0;
		}
		@media screen and (max-width: $tablet-and-below){
			display: none;
		}
	}
	.facts{

		border-left: 2px solid #fff;
		padding: 0 30px ;
		margin: -10px;
		.fact{
			font-size: 20px;
			margin-top: 20px;
			white-space: nowrap;
			@media screen and (max-width: $tablet-and-below){
				font-size: 16px;
				white-space: normal;
			}
		}
		@media screen and (max-width: $tablet-and-below){
			border: none;
			margin: 0;
			padding: 0 0;
		}
	}
}




















