/* 
==============================================
CONTENT:	Crystal 
AUTHOR:		Erin Kahn, Kat Sudakova, Cassndra Desrosiers
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Content

**use main.scss to add structural and foundational elements to the entire site. use a partial to style a specific page/section

==============================================
*/

/* 0. Reset ================================= */
@import 'reset';


/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

body {
	background: #ccc;
}
