/* 
==============================================
CONTENT:	Crystal 
AUTHOR:		Erin Kahn, Kat Sudakova, Cassndra Desrosiers
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Content

**use main.scss to add structural and foundational elements to the entire site. use a partial to style a specific page/section

==============================================
*/

/* 0. Reset ================================= */

//citrine
$background-orange: #d77008;
$text-orange: #fbc75c;
//

//amethyst
$background-purple: #caaad1;
$text-purple: #4b365a;
//

//jasper
$background-red: #f97a74;
$red-text: #901b00; 
//

//rose quartz
$background-pink: #f4bcdc;
$pink-text: #d74b62;
//
$tablet-and-below: 1023px;
$header-font:'Rakkas', cursive;
$text-font: "bernhard-gothic-urw",sans-serif;

//green fluorite
$background-green: green;
$green-text: green;
//

//hematite
$background-hematite: rgb(68, 68, 68);
$hematite-text: rgb(68, 68, 68);
//

@import 'home-page';
@import 'reset';
@import 'crystal-page';



/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

body {
	background: #fff;
}

p{

}

@media screen and (min-width: $tablet-and-below){
	.show-on-mobile{
		display: none;
	}
}
@media screen and (maxx-width: $tablet-and-below){
	.hide-on-mobbile{
		display: none;
	}
}

