/* 
==============================================
CONTENT:	Crystal 
AUTHOR:		Erin Kahn, Kat Sudakova, Cassndra Desrosiers
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Content

**use main.scss to add structural and foundational elements to the entire site. use a partial to style a specific page/section

==============================================
*/

/* 0. Reset ================================= */

//citrine
$background-orange: #d77008;
$text-orange: #fbc75c;
//

//amethyst
$background-purple: #caaad1;
$text-purple: #4b365a;
//

//jasper
$background-red: #f97a74;
$red-text: #901b00; 
//

//rose quartz
$background-pink: #f4bcdc;
$pink-text: #d74b62;
//

//green fluorite
$background-green: #256d4b;
$green-text: #256d4b;
//

//hematite
$background-hematite: #919a9b;
$hematite-text: rgb(68, 68, 68);
//

$tablet-and-below: 1023px;
$header-font:'Rakkas', cursive;
$text-font: "bernhard-gothic-urw",sans-serif;




@import 'home-page';
@import 'reset';
@import 'crystal-page';


/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

body {
	background: #fff;

	&.cbp-spmenu-push {
		overflow-x: hidden;
    	position: relative;
    	left: 0;
	}

	&.cbp-spmenu-push-toleft {
		left: -80%;
	}
	-webkit-font-smoothing: antialiased;
	text-rendering: auto;
}

@media screen and (min-width: $tablet-and-below){
	.hide-on-desktop{
		display: none;
	}
}
@media screen and (max-width: $tablet-and-below){
	.hide-on-mobile{
		display: none;
	}
}

nav{
	width: 50%;
	z-index: 999;
	position: absolute;
	top: 5%;
	left: 50%;
	transform: translateX(-50%);
	height: 12px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	border-bottom: 3px solid #fff;
	@media screen and (max-width: $tablet-and-below){
		position: unset;
		transform: translateX(0);
		width: 100%;
		top: unset;
		left: unset;
		margin-bottom: 50px;
		border-bottom: 2px solid #fff;
	}
	
	.circle{
		display: block;
		width: 20px;
		height: 20px;
		border-radius: 50%;
		background-color: transparent;
	}
	
	
}

.nav-home{
	border: 3px solid #fff;
	&:hover{
		background-color:  #fff;
	}
}
.nav-a{
	border: 3px solid #4b365a;
	&:hover{
		background-color:  #4b365a;
	}
}
.nav-c{
	border: 3px solid #fbc75c;
	&:hover{
		background-color:  #fbc75c;
	}
}

.nav-j{
	border: 3px solid #901b00;
	&:hover{
		background-color: #901b00;
	}
}	

.nav-f{
	border: 3px solid #256d4b;
	&:hover{
		background-color: #256d4b;
	}
}

.nav-r{
	border: 3px solid #d74b62;
	&:hover{
		background-color: #d74b62;
	}
}

.nav-h{
	border: 3px solid rgb(68, 68, 68);
	&:hover{
		background-color:  rgb(68, 68, 68);
	}
}


/* Transitions */
.cbp-spmenu,
.cbp-spmenu-push {
	transition: all 0.3s ease;
}


.cart-component-container{
	position: absolute;
	z-index: 10000;
	width: 100%;

	.bag-icon{
		position: absolute;
		top: 5%;
		right: 5%;
		cursor: pointer;
		@media screen and (max-width: $tablet-and-below){
			top: 10px;
			right: 10px;
		}
	}


	.cart-container{
		font-family: "Rakkas", cursive;

		&.cbp-spmenu-vertical{
			position:fixed;
			width: 80%;
			height: 100%;
			top: 0;
			z-index: 1000;
		}
		&.cbp-spmenu-right{
			right: -80%;
		}
		&.cbp-spmenu-open{
			right: 0px;
		}
		


		right: 0;
		display: flex;
		flex-direction: column;
		font-family: $text-font;

		.cart-header{
			margin-top: 2em;
			flex-grow: 1;
			display: flex;
			justify-content: center;
			align-items: center;
			h3{
				font-family: $text-font;
				font-size: 2em;
		

				color: #727272;
			}

		}
		.cart-main{
			background-color: white;
			flex-grow: 6;
			display: flex;
			justify-content: center;
			ul{
				width: 80%;
				padding-top: 20px;
				li{
					display: flex;
					justify-content: space-between;
					margin-bottom: 20px;
					font-size: 1.5em;
					font-weight: 100;
					height: 20%;
					img{
						height: 60%;
					}
					.itemText{
						margin-top: 1em;
						.name{
							margin: 0;
						}
						.price{
							font-size: .5em;
							margin: 0;
						}
					}
				}
			}
			
		}
		.cart-footer{
			flex-grow: 0;
			padding: 2em 1em;

			display: flex;
			justify-content: space-around;
				.button-container{

					.view-cart-btn{
						font-family: $text-font;
						font-size: 1em;
						padding: .8em 1.2em;
						background-color: #727272;
						color: #fff;
					}
					.checkout-btn{
						font-family: $text-font;
						font-size: 1em;
						padding: .8em 1.2em;
						color: #727272;
						border: #727272 solid 1px;
					}
				}

			
		}
	}
}
